* {
    padding: 0;
    margin: 0;
}

html {
    display: flex;
    justify-content: center;
    background-color: white;
}

body {
    width: 100%;
    max-width: 1290px;
    background-color: black;
    color: seashell;
    /* opacity: 0.9; */
    position: relative;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* flex-grow: 2; */
    align-items: center;
    font-size: 22px;
    font-family: Helvetica, Arial, sans-serif;
    
}

header {
    height: 69px;
    width: 100%;
    max-width: 1291px;
    border: 1px solid seashell;
    display: inline-flex;
    /* flex-shrink: 3; */
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: inline-flex;
}

ul {

}

a {
    color: seashell;
}

li {
    display: inline-flex;
    text-decoration: underline;
    margin: 0 10px;
}

main {
    margin-top: 70px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    /* flex-grow: 3; */
    opacity: 0.65;
}

footer {
    width: 100%;
    max-width: 1290px;
    height: 250px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.65;
}

footer > h5 {
    display: inline-flex;
    width: 100%;
    max-width: 1290px;
    margin-left: 20px;
}

.category {
    margin-right: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.category:nth-child(3) {
    margin: 0;
}

.category:last-child {
    margin: 0;
}

.category > img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

.square {
    width: 300px;
    height: 280px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
    margin-bottom: 40px;
}

.square:last-child {
    margin-right: 0;

}

#logo {
    height: 50px;
    margin-left: 10px;
    display: inline-flex;
}

#mission {
    height: 700px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    background-image: url("images/img-mission-background.jpg");
}

#mission-text {
    background-color: black;
    height: 110px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

#featured-tea {
    width: 100%;
    max-width: 1000px;
    margin: 80px 0 60px 0;
    /* display: flex;
    flex-wrap: wrap; */
}

#featured-tea-text {
    text-align: center;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 10px;
}

#featured-tea-images {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#locations {
    width: 100%;
    max-width: 1200px;
    min-height: 580px;
    background-image: url("images/img-locations-background.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#locations-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
}

#locations > h2 {
    margin-bottom: 15px;
    margin-top: 25px;
    color: white;
}

#contact {
    height: 200px;
    text-align: center;
}

#contact > h2 {
    padding-top: 10px;
    padding-bottom: 30px;
}

#contact > #email {
    padding-bottom: 30px;
}

